@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
}
$main-color: #474747;
$main-color-darken: #1f1f1f;
@mixin input-color {
    padding: 14px 0 0 14px;
    position: absolute;
    background-color: black;
    border-radius: 5px;
    z-index: 1;
}
@mixin color-circle {
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-color;
  font-family: 'Poppins', sans-serif;
}

.heading{
  text-transform: uppercase;
  font-size: 35px;
  margin: 20px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width: 900px) {
  .container{
    flex-direction: column;
  }
}

.task-container{
    .task-modal-button{
        border: 2px solid white;
        background-color: inherit;
        font-size: 20px;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s all;
        &:hover{
            background-color: white;
            color: black;
            box-shadow: 0 0 5px black;
        }
        &:active{
            transform: scale(0.9)
        }
    }
    @keyframes animate-modal {
        from {opacity: 0}
        to {opacity: 1}
    }
    .task-modal{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        animation: animate-modal 0.3s;
        .close-modal{
            color: white;
            position:absolute;
            right: 15px;
            top: 15px;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s color;
            &:hover{
                color: rgb(204, 204, 204);
            }
        }
        .input{
            display: flex;
            width: 75%;
            margin: 60px auto 0;
            position: relative;
            align-items: center;
            .input-box{
                width: 100%;
                border-radius: 50px;
                padding: 15px 65px 15px 25px;
                font-size: 20px;
                border: none;
                outline: none;
                transition: 0.3s;
                box-shadow: inset 0 0 5px black;
            }
            .input-submit {
                position: absolute;
                width: 45px;
                height: 45px;
                border-radius: 50px;
                right: 5px;
                border: none;
                font-size: 15px;
                background-color: $main-color;
                color: white;
                transition: 0.3s all;
                box-shadow: 0 0 5px black;
                cursor: pointer;
                &:hover{
                    background-color: $main-color-darken;
                    box-shadow: 0 0 10px black;
                }
                &:active{
                    transform: scale(0.8);
                    box-shadow: 0 0 5px black;
                }
            }
        }
        .options-container{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 0 5px;
            .icon-option{
                font-size: 30px;
                transition: 0.3s transform;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .input-color-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                .input-color{
                    background-color: black;
                    border-radius: 5px;
                    z-index: 2;
                    padding: 14px 0 0 14px;
                    width: 250px;
                }
                .task-color{
                    width: fit-content;
                    border-radius: 5px;
                    padding: 5px 10px;
                    background-color: whitesmoke;    
                }
                .task-finish{
                    width: fit-content;
                    border-radius: 5px;
                    padding: 5px 10px;
                    background-color: whitesmoke;
                }
            }
            .calendar{
                width: 300px;
                border-radius: 5px;
                margin-bottom: 10px;
                abbr[title]{
                    text-decoration: none;
                }
            }
        }
    }
}


.container {
    min-width: 95%;
    display: flex;
    margin: 15px;
    align-items: flex-start;
    gap: 10px;
    .todos {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background-color: rgb(50, 195, 205);
        width: 100%;
        margin: 0 auto;
        .todos-heading {
            font-size: 25px;
            padding: 15px;
            color: white;
        }
        .single-todo{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            box-shadow: inset 0 0 5px black;
            background-color: white;
            border-radius: 5px;
            margin: 5px 10px;
            padding: 10px;
            transition: 0.3s;
            cursor: grab;
            &:hover {
                box-shadow: 0 0 10px black;
            }
            &:active{
                cursor: grabbing;
            }
            .done{
                opacity: 0.9;
                transform: scale(0.8);
                border-radius: 5px;
                box-shadow: 0 0 5px black;
                background-color: $main-color-darken;
                color: white;
                padding-left: 10px;
                width: fit-content;
            }
            hr{
                width: 100%;
                border: 0;
                height: 1px;
                background: rgb(38, 38, 38);
                background-image: linear-gradient(to right, lightgray, rgb(38, 38, 38), lightgray);
            }
            .time-container{
                display: flex;
                justify-content: space-between;
                .date{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;
                    font-size: 14px;
                    .date-icon{
                        font-size: 18px;
                    }
                }
            }
            .single-todo-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                transition: 0.2s all;
                margin-bottom: 10px;
                .single-todo-text {
                    flex: 1 1;
                    padding: 5px 10px;
                    border: none;
                    font-size: 17px;
                    overflow-wrap: anywhere;
                    &:focus{
                        outline: none;
                    }
                }
                .single-todo-color{
                    @include color-circle;
                }
                .single-todo-color-edit{
                    @include color-circle;
                    position: relative;
                    cursor: pointer;
                    box-shadow:inset 0px 0px 0px 3px white;
                    border: 2px solid black;
                    transform: scale(0.95);
                    transition: 0.3s box-shadow, 0.3s transform;
                    &:hover{
                        box-shadow: none;
                        transform: scale(1);
                    }
                    &:active{
                        transform: scale(0.9);
                    }
                    .input-color{
                        @include input-color;
                        left: 0px;
                        top: 32px;
                    }
                }
                .single-todo-input{
                    flex: 1 1;
                    width: 100%;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid $main-color;
                    font-size: 17px;
                    padding: 5px 10px;
                    margin-left: 5px;
                    &:focus{
                        border: 2px solid $main-color-darken;
                    }
                }
            }
            .icons-container{
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                    margin-left: 10px;
                    width: 25px;
                    height: 25px;
                    font-size: 25px;
                    cursor: pointer;
                    transition: 0.3s transform;
                    &:hover{
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }
    .completed{
        background-color: rgb(226, 94, 94);
    }
    .doing{
        background-color: yellowgreen;
    }
    .drag-doing{
        background-color: green;
    }
    .drag-complete{
        background-color: rgb(196, 44, 44);
    }
    .drag-todo{
        background-color: rgb(19, 136, 145);
    }
    .drag-form{
        box-shadow: 0 0 25px black;
    }
}
